@import url("/css/utility.css");

.content-body {
  background-color: var(--off-white);
  font-family: 'MS Sans Serif', Arial, sans-serif;
  padding: 20px;
  min-width: auto;
  max-width: 95%;
  min-height: 10px;
  max-height: 95%;
  margin: 0 auto;
}

.contact-header {
  color: #000080;
  margin-bottom: 16px;
  font-size: 1.75rem !important;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.contact-header img {
  max-width: 1.5rem;
  height: 1.3rem;
  margin-right: 0.5rem;
}

.contact-message {
  line-height: 1.6;
  margin-bottom: 20px;
  font-size: 1.2rem !important;
}

.contact-methods {
  background-color: var(--off-white);
  border: 2px solid #808080;
  min-width: auto;
  margin: 20px 0;
  padding: 15px;
}

.contact-method {
  display: flex;
  align-items: center;
  margin: 0.75rem 0;
  width: 100%;
  padding: 8px;
  min-width: fit-content;
  cursor: pointer;
  text-align: left;
  transition: transform 0.15s ease;
}

.contact-method:hover {
  transform: translateY(-0.1rem) translateX(-0.2rem) scale(1.015);
  transition: transform 0.15s ease;
  cursor: pointer;
}

.contact-method:active {
  border: 2px inset #c0c0c0;
}

.contact-method img {
  max-width: 1.75rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.contact-method span {
  font-size: 1rem !important;
  text-overflow: ellipsis;
}