<link rel="stylesheet" href="/css/contact.css" />
<link rel="stylesheet" href="https://unpkg.com/98.css@0.1.4/build/98.css" />
<title>Contact Me</title>
<body class="content-body">
  <div class="contact-container">
    <div class="contact-text">
      <h1 class="contact-header">
        Contact Me
      </h1>
      <p class="contact-message">
        Wanna reach out?
        <br />
        Catch me on any of these channels!
      </p>
      
      <div class="contact-methods">
        <button class="contact-method" onclick="window.open('https://github.com/sudoDeVinci', '_blank')">
          <img src="/icons/Notes.png" alt="GitHub icon" />
          <span>Github</span>
        </button>
        <button class="contact-method" onclick="window.open('https://www.linkedin.com/in/tadj-cazaubon-6b7a5a18b/', '_blank')">
          <img src="/icons/Linkedin.png" alt="LinkedIn icon" />
          <span>LinkedIn</span>
        </button>
        <button class="contact-method" onclick="window.open('https://x.com/sudoDevinci', '_blank')">
          <img src="/icons/Twitter.png" alt="Portfolio icon" />
          <span>Twitter</span>
        </button>
        <button class="contact-method" onclick="window.open('mailto:tadj.d.cazaubon@gmail.com')">
          <img src="/icons/Gmail.png" alt="Email icon" />
          <span>tadj.d.cazaubon@gmail.com</span>
        </button>
      </div>
    </div>
  </div>
</body>