<div class="window project-card" tabindex="0">
  <div class="title-bar">
    <div class="title-bar-text">
      <img src="/icons/console.png" alt="Project" class="title-icon">
      {{ project.name }}
    </div>
  </div>
  <div class="window-body project-window-body">
    <div class="project-thumbnail">
      <img src="{{ project.thumbnail }}" alt="{{ project.name }}" />
    </div>

    <div class="project-stars">
      <span class="project-star">{{project.stars}}</span>
      <img src="/icons/star.png">
    </div>
    
    <div class="project-content">
      <p class="project-description">{{ project.description }}</p>
      
      <div class="project-tags">
        {% for tag in project.topics %}
          <span class="project-tag">{{ tag }}</span>
        {% endfor %}
      </div>

      <div class="project-languages">
        {% for language in project.languages %}
          <span class="project-language">{{ language }}</span>
        {% endfor %}
      </div>

      <div class="project-actions">
        {% if project.html_url %}
          <button onclick="window.open('{{ project.html_url }}')">
          <img src="/icons/directory_open.png" alt="Globe" class="button-icon">
            Source
          </button>
        {% endif %}
      </div>
    </div>
  </div>
</div>
