<link rel="stylesheet" href="/css/welcome.css" />
<title>Welcome!</title>
<body class="content-body">
  <div class="welcome-container">
    <div class="welcome-text">
      <h1 class="welcome-header">Welcome Visitor!</h1>
      <p class="welcome-message">
        Welcome to my personal site!
        Here you'll find my collection of projects, and more.
      </p>
      <p class="welcome-message">
        You can drag windows around, minimize, or close them just like 
        you would on a desktop.
      </p>
      <p class="welcome-message">
        Take a look around! Maybe you'd like to check out music from my friends and I,
        see my project portfolio, or even play a game.
      </p>

      <div class="quick-links">
        <div class="quick-links-title">Quick Links:</div>
        <button href="#" class="link-button" onclick="window.environment.newWindow(window.musicPlayerType, window.musicWindowConfig)">
          <img src="/icons/music.png" alt="Internet Explorer icon" />
          Music
        </button>
        <button href="#" class="link-button" onclick="window.environment.newWindow(window.windowType, window.projectsWindowConfig)">
          <img src="/icons/console.png" alt="Internet Explorer icon" />
          Projects
        </button>
        <button href="#" class="link-button" onclick="window.environment.newWindow(window.windowType, window.contactWindowConfig)">
          <img src="/icons/support.png" alt="Internet Explorer icon" />
          Contact
        </button>
      </div>
    </div>

    <div class="clippy-container">
      <img src="/images/clippy.gif" alt="Clippy animation" />
      <p><small>Your helpful assistant, Clippy!</small></p>
    </div>
  </div>
</body>
